html {
    font-family: 'Verdana', sans-serif;
}

.left-bar {
    background-color:#77ccaa;
    display: inline-block;
    width: 25%;
    height: 100vh;
    color: black;
    padding-left: 10px
}

.left-text {
    color: white;
    padding-left: 10px;
}

.centerBox {
  background-color:#CDB5CD;
  border: 5px solid black;
  padding: 10px 10px 10px 10px;
}

.buttons {
  padding-top: 15px;
}

.small-padding {
    padding: 5px;
}

.center-page {
    position: fixed;
    top: 0%;
    left: 28%;
    color: black;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
