<div class="left-bar">
    <img src="assets/images/tittletattle.png" alt="tittletattle">
    <div ng-repeat="room in home.all">
      <div class="small-padding" ng-click="setActive()" >
        <div ng-model="roomName">
          {{ room.name }}
        </div>
      </div>
      <!--The modal that opens -->
      <script type="text/ng-template" id="myModalContent.html">
        <div class="centerBox">
          <div ng-controller="homeCtrl as home">
            <form>
              <fieldset class="form-group">
                <h2>Create a New Room</h2>
                <h3> Room Name:</h3>
                <input ng-model="roomName">
                <div class="buttons">
                  <button ng-click="addRoom()" class="btn btn-default">Submit</button>
                </div>
                <div class="buttons">
                  <button ng-click="cancel()" class="btn btn-default">Exit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </script>
    </div>
    </br>
    <button type="button" class="btn btn-default" ng-click="open()">Create New Room</button>
</div>
<div class="center-page">
  <h3>
    Welcome to the {{ currentRoom || "TittleTattle" }} Room
  </h3>
  <form ng-submit="addMessage()">
    <input ng-model="currentMessage" size="90">
    <button>+</button>
  </form>
  <h4>Chat History</h4>
  <table class="table table-striped">
		<tr ng-repeat="message in messages">
	  		<td>{{ message.username }}</td>
	  		<td>{{ message.sentAt | date: 'medium' }}</td>
	  		<td>{{ message.content }}</td>
		</tr>
	</table>
</div>
